<header>
    <form method="post" action="/search">
        <h2>Search Pokémon</h2>
        <div class="group">
            <input name="querry" type="text" placeholder="Pokémon Name" id="name">
            <label for="name">Pokémon Name</label>
        </div>
    </form>
</header>